[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A python script to scrape and display the current day's New York T?mes Crossword Puzzle
[access "refs/*"]
	owner = group user/Mehmet Sanisoğlu (mehmetsan)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mehmet Sanisoğlu (mehmetsan)
	label-Verified = -1..+1 group user/Mehmet Sanisoğlu (mehmetsan)
	push = group user/Mehmet Sanisoğlu (mehmetsan)
	read = group user/Mehmet Sanisoğlu (mehmetsan)
	rebase = group user/Mehmet Sanisoğlu (mehmetsan)
	removeReviewer = group user/Mehmet Sanisoğlu (mehmetsan)
	submit = group user/Mehmet Sanisoğlu (mehmetsan)
[access "refs/heads/*"]
	create = group user/Mehmet Sanisoğlu (mehmetsan)
	push = +force group user/Mehmet Sanisoğlu (mehmetsan)
	pushMerge = group user/Mehmet Sanisoğlu (mehmetsan)
	read = group user/Mehmet Sanisoğlu (mehmetsan)
[access "refs/tags/*"]
	push = group user/Mehmet Sanisoğlu (mehmetsan)
	push = +force group user/Mehmet Sanisoğlu (mehmetsan)
